<div
  class="container-spinner"
  [ngStyle]="{
    display: (loaderService.isLoading$ | async) || loading ? 'flex' : 'none'
  }"
>
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div
  class="landing"
  [ngStyle]="{
    display: !(loaderService.isLoading$ | async) || !loading ? 'flex' : 'none'
  }"
>
  <div class="auth">
    <app-auth [initConfig]="initConfig"></app-auth>
  </div>
  <div class="partners">
    <h1>Nos partenaires</h1>
    <img src="../../assets/partners.png" alt="Partners" style="width: 50%" />
  </div>
</div>
