<h1 mat-dialog-title>
  @if(article) {Titre :
  <span style="font-weight: normal; font-size: smaller">
    {{ article.article_name!.split(".")[0] }}</span
  >
  }@else { Renseignez les détails }
</h1>
<div
  mat-dialog-content
  style="display: flex; align-items: start; flex-direction: column; gap: 10px"
>
  <div style="display: flex; gap: 10px; width: 100%">
    <div style="width: 10%">
      <p>Sujet :</p>
    </div>
    @if(article){
    <p style="font-size: 14px">{{ article.topic }}</p>
    }@else { @if(topics.length === 0) {
    <div class="custom-file-label" style="align-self: center">
      <div style="display: flex; align-items: center; gap: 10px">
        <mat-progress-spinner
          mode="indeterminate"
          diameter="20"
        ></mat-progress-spinner>
        En attente de traitement...
      </div>
    </div>
    }@else {
    <select class="custom-file-label" [(ngModel)]="topic_name">
      @for (topic of topics; track topic) {

      <option [ngValue]="topic">
        {{ topic }}
      </option>
      }</select
    >} }
  </div>
  <div>
    @if(!article){ @for (author of authors; track author; let idx = $index) {
    <!-- If it's the first author, show label + button inline -->
    @if (idx === 0) {
    <div style="display: flex; align-items: center; column-gap: 10px">
      <p>Auteurs :</p>
      <div class="input-container" style="width: 300px">
        <mat-form-field class="example-form-field">
          <mat-label>{{ author_number(idx + 1) }} auteur</mat-label>
          <input
            matInput
            type="text"
            [value]="author.name"
            (input)="updateAuthorName(idx, $event)"
          />
        </mat-form-field>
      </div>
      @if(authors.length<2){
      <button (click)="addAuthor()" color="primary" mat-raised-button>
        Ajouter un auteur
      </button>

      }
    </div>
    } @else {
    <div style="display: flex; align-items: center; gap: 4px">
      <!-- Subsequent authors go on new lines -->
      <div class="input-container" style="width: 380px; margin-top: 10px">
        <mat-form-field class="example-form-field" style="margin-left: 80px">
          <mat-label>{{ author_number(idx + 1) }} auteur</mat-label>
          <input
            matInput
            type="text"
            [value]="author.name"
            (input)="updateAuthorName(idx, $event)"
          />
          <button
            matSuffix
            mat-icon-button
            style="background: transparent !important; color: red"
            aria-label="Clear"
            (click)="removeAuthor(idx)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      @if(authors.length>1 && idx === authors.length - 1) {
      <button (click)="addAuthor()" color="primary" mat-raised-button>
        Ajouter un auteur
      </button>
      }
    </div>
    } } }
  </div>
  <!-- FINANCEMENTS -->
  <div>
    @for(fund of fundings;track fund;let idx = $index;) {
    <!-- If it's the first author, show label + button inline -->
    @if (idx === 0) {
    <div
      style="
        display: flex;
        align-items: center;
        column-gap: 6px;
        flex-wrap: wrap;
      "
    >
      <p>Financements :</p>
      <div class="input-container" style="width: 258px">
        <mat-form-field class="example-form-field">
          <input
            [ngClass]="{ 'disabled-input': article !== undefined }"
            placeholder="BPI..."
            matInput
            type="text"
            [value]="fund.value"
            (input)="updateFundingName(idx, $event)"
          />
        </mat-form-field>
      </div>
      @if(fundings.length===1 && article === undefined){
      <button (click)="addFund()" mat-raised-button color="primary">
        Ajouter un financement
      </button>
      }
    </div>
    } @else {
    <div style="display: flex; align-items: center; column-gap: 10px">
      <!-- Subsequent authors go on new lines -->
      <div class="input-container" style="width: 383px; margin-top: 10px">
        <mat-form-field class="example-form-field" style="margin-left: 122px">
          <input
            [ngClass]="{ 'disabled-input': article !== undefined }"
            matInput
            placeholder="BPI..."
            type="text"
            [value]="fund.value"
            (input)="updateFundingName(idx, $event)"
          />
          @if(article === undefined){

          <button
            matSuffix
            mat-icon-button
            style="background: transparent !important; color: red"
            aria-label="Clear"
            (click)="removeFunding(idx)"
          >
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>
      </div>
      @if(fundings.length>1 && idx === fundings.length - 1&& article ===
      undefined) {
      <button (click)="addFund()" mat-raised-button color="primary">
        Ajouter un financement</button
      >}
    </div>
    } }
  </div>
  <!-- REMERCIEMENTS -->
  <div>
    @for(acknowledgment of acknowledgments;track acknowledgment;let idx =
    $index;) {

    <!-- If it's the first author, show label + button inline -->
    @if (idx === 0) {
    <div
      style="
        display: flex;
        align-items: center;
        column-gap: 6px;
        flex-wrap: wrap;
      "
    >
      <p>Remerciements :</p>
      <div class="input-container" style="width: 258px">
        <mat-form-field class="example-form-field">
          <input
            placeholder="BPI..."
            [ngClass]="{ 'disabled-input': article !== undefined }"
            matInput
            type="text"
            placeholder="CHU Grenoble Alpes..."
            [value]="acknowledgment.value"
            (input)="updateAcknowledgmentName(idx, $event)"
          />
        </mat-form-field>
      </div>
      @if(acknowledgments.length===1&& article === undefined){
      <button (click)="addAcknowledgment()" mat-raised-button color="primary">
        Ajouter un remerciement
      </button>
      }
    </div>
    } @else {
    <!-- Subsequent authors go on new lines -->
    <div style="display: flex; align-items: center; column-gap: 10px">
      <div class="input-container" style="width: 391px; margin-top: 10px">
        <mat-form-field class="example-form-field" style="margin-left: 133px">
          <input
            matInput
            [ngClass]="{ 'disabled-input': article !== undefined }"
            placeholder="CHU Grenoble Alpes..."
            [value]="acknowledgment.value"
            (input)="updateAcknowledgmentName(idx, $event)"
          />
          @if(article === undefined){
          <button
            matSuffix
            mat-icon-button
            style="background: transparent !important; color: red"
            aria-label="Clear"
            (click)="removeAcknowledgment(idx)"
          >
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>
      </div>
      @if(acknowledgments.length>1 && idx === acknowledgments.length - 1 &&
      article === undefined) {
      <button (click)="addAcknowledgment()" mat-raised-button color="primary">
        Ajouter un remerciement</button
      >}
    </div>
    } }
  </div>
  @if(authorValid) { @if(authors.length>1 && authors[1].name!=='') {
  <mat-slide-toggle
    color="primary"
    [(ngModel)]="equalContributions"
    [disabled]="article !== undefined"
    [ngClass]="{ 'disabled-input': article !== undefined }"
  >
    <p>
      @if(!equalContributions) { Contributions indépendantes}@else {
      Contributions éguales }
    </p> </mat-slide-toggle
  >} } @for(author of authors;track author;let idx = $index;) {
  @if(author.name!==''){

  <p>Auteur {{ idx + 1 }} : {{ author.name }}</p>
  <div style="display: flex; gap: 15%; width: 100%">
    <div style="display: flex; flex-direction: column">
      <div style="display: flex">
        <mat-slide-toggle
          [disabled]="article !== undefined"
          color="primary"
          [(ngModel)]="authors[idx].withConflicts"
        >
        </mat-slide-toggle>
        <p style="margin-top: 0">
          @if(!author.withConflicts) {Aucun conflits d'intérêts}@else { Conflits
          d'intérêts : }
        </p>
      </div>
      @if(author.withConflicts) {
      <textarea
        [ngClass]="{ 'disabled-input': article !== undefined }"
        matInput
        type="text"
        class="text"
        placeholder="Détails du conflit d'intérêt"
        [(ngModel)]="authors[idx].conflicts"
      ></textarea>
      }
    </div>
    <div>
      <p style="margin-top: 0">Contributions :</p>

      <section class="example-section">
        <span class="example-list-section"> </span>
        <span class="example-list-section">
          <ul>
            @for(contribution of contributions;track contribution){
            <li>
              <mat-checkbox
                [ngClass]="{ 'disabled-input': article !== undefined }"
                [checked]="authors[idx].contributions.includes(contribution)"
                (change)="toggleSelection(idx, contribution)"
              >
                {{ contribution }}
              </mat-checkbox>
            </li>
            }
          </ul>
        </span>
      </section>
    </div>
  </div>
  } }
  <mat-dialog-actions align="end" class="dialog-footer">
    @if(article) {
    <button mat-flat-button mat-dialog-close="" color="primary">Fermer</button>

    }@else {

    <button mat-flat-button (click)="send()" color="primary">Envoyer</button>
    }
  </mat-dialog-actions>
</div>
