@if(articles.length>0){

<div class="parent">
  <table mat-table [dataSource]="articles" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div style="display: flex; align-items: center">
          <button
            [matMenuTriggerFor]="menu"
            mat-icon-button
            style="background: transparent !important"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              style="background-color: transparent !important"
              mat-menu-item
              [disabled]="element.state !== 'ready'"
              (click)="openDetails(element)"
            >
              <mat-icon>info</mat-icon>
              <span> Détails</span>
            </button>
            <button
              style="background-color: transparent !important"
              mat-menu-item
              [disabled]="element.state !== 'ready'"
              (click)="deleteArticle(element)"
            >
              <mat-icon style="color: red">delete</mat-icon>
              <span> Supprimer</span>
            </button>
          </mat-menu>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Date de création</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdAt | date : "dd MMMM yyyy à HH:mm" }}
      </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="article_name">
      <th mat-header-cell *matHeaderCellDef>Nom de l'article</th>
      <td mat-cell *matCellDef="let element">
        @if(element.state!=='ready') {
        <div style="padding-top: 12%">
          <ngx-skeleton-loader
            count="1"
            appearance="line"
            animation="progress"
            [theme]="{
  'background-color': '#545454',
  
}"
          />
        </div>
        }@else {
        <p
          class="ellipsis"
          style="font-weight: bold"
          [matTooltip]="
            element.article_name
              ? element.article_name.length > 20
                ? element.article_name.split('.')[0]
                : ''
              : ''
          "
        >
          {{ element.article_name }}
        </p>
        }
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="report_name">
      <th mat-header-cell *matHeaderCellDef>Protocole de recherche</th>
      <td mat-cell *matCellDef="let element">
        <span class="file-info">
          <span
            class="custom-file-label"
            [matTooltip]="
              element.report_name.length > 20 ? element.report_name : ''
            "
          >
            {{ element.report_name }}
          </span>

          <button
            class="delete-button"
            (click)="downloadFile(element, 'report')"
            aria-label="Supprimer les fichiers"
          >
            <mat-icon>download</mat-icon>
          </button>
        </span>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="scientificDoc_name">
      <th mat-header-cell *matHeaderCellDef>Résultats scientifiques</th>
      <td mat-cell *matCellDef="let element">
        <div style="display: flex; gap: 5px">
          <select
            name="scientific_doc"
            class="custom-file-label"
            [matTooltip]="
              element.scientificDocSelected?.name.length > 20
                ? element.scientificDocSelected?.name
                : ''
            "
            [(ngModel)]="element.scientificDocSelected"
          >
            @for (scientificDoc of element.scientificDocs; track scientificDoc)
            {
            <option [ngValue]="scientificDoc">
              {{ scientificDoc.name }}
            </option>
            }
          </select>
          <span class="file-info">
            <button
              class="delete-button"
              (click)="
                downloadFile(
                  element,
                  'scientific_doc',
                  element.scientificDocSelected.id
                )
              "
              aria-label="Supprimer les fichiers"
            >
              <mat-icon>download</mat-icon>
            </button>
          </span>
        </div>
      </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef>État du traitement</th>
      <td mat-cell *matCellDef="let element">
        <span [matTooltip]="calculateDiff(element)">
          {{ convertState(element.state) }}</span
        >
        @if(element.state!=='ready') {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }
      </td>
    </ng-container>

    <!-- Empty Column -->
    <ng-container matColumnDef="dl">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          color="primary"
          mat-raised-button
          [disabled]="element.state !== 'ready'"
          (click)="downloadFile(element, 'article')"
        >
          <mat-icon>download</mat-icon>
          Télécharger
        </button>
      </td>
    </ng-container>
    <!-- Row shown when there is no matching data.-->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="6">
        <ngx-skeleton-loader
          count="1"
          appearance="line"
          animation="progress"
          [theme]="{
  'background-color': '#545454',
  
  }"
        />
      </td>
    </tr>
    <tr mat-header-row *matHeaderRowDef="articleColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: articleColumns"></tr>
  </table>
</div>
}
